<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "~//Apple/DTD PLIST 1.0//EN" "http://wwwapple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>compipleBitcode</key>
        <false/>
        <key>destination</key>
        <string>export</string>
        <key>method</key>
        <string>ad-hoc</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>ambi.remote.universal.ios-client</key>
            <string>Ambi Universal Remote Client Ad Hoc 22</string>
        </dict>
        <key>signingCertificate</key>
        <string>Apple Distribution</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>stripSwiftSymbols</key>
        <true/>
        <key>teamID</key>
        <string>FU262YG83M</string>
        <key>thinning</key>
        <string>&lt;note&gt;</string>
    </dict>
</plist>